/* From open-props */
:where(*) {
  --color-0: oklch(99% calc(0.03 * var(--c)) var(--color-hue, 0));
  --color-1: oklch(95% calc(0.06 * var(--c)) var(--color-hue, 0));
  --color-2: oklch(88% calc(0.12 * var(--c)) var(--color-hue, 0));
  --color-3: oklch(80% calc(0.14 * var(--c)) var(--color-hue, 0));
  --color-4: oklch(74% calc(0.16 * var(--c)) var(--color-hue, 0));
  --color-5: oklch(68% calc(0.19 * var(--c)) var(--color-hue, 0));
  --color-6: oklch(63% calc(0.2 * var(--c)) var(--color-hue, 0));
  --color-7: oklch(58% calc(0.21 * var(--c)) var(--color-hue, 0));
  --color-8: oklch(53% calc(0.2 * var(--c)) var(--color-hue, 0));
  --color-9: oklch(49% calc(0.19 * var(--c)) var(--color-hue, 0));
  --color-10: oklch(42% calc(0.17 * var(--c)) var(--color-hue, 0));
  --color-11: oklch(35% calc(0.15 * var(--c)) var(--color-hue, 0));
  --color-12: oklch(27% calc(0.12 * var(--c)) var(--color-hue, 0));
  --color-13: oklch(20% calc(0.09 * var(--c)) var(--color-hue, 0));
  --color-14: oklch(14% calc(0.07 * var(--c)) var(--color-hue, 0));
  --color-15: oklch(11% calc(0.05 * var(--c)) var(--color-hue, 0));
  --color-bright: oklch(65% calc(0.3 * var(--c)) var(--color-hue, 0));
}

:root {
  --c: 0.6;
  --color-hue: 280;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "SF Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-0);
  background-color: var(--color-15);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  font-family: "SF Mono", monospace;
  /* wrap text */
  white-space: pre-wrap;
  /* truncate text */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 2rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 2rem;
}

.message {
  margin-bottom: 3rem;
}

.message-header {
  margin-bottom: 1rem;
  color: var(--color-2);
}

.message-subject {
  color: var(--color-2);
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "New York", serif; */
}

.message-meta {
  font-size: 13px;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "New York", serif; */
  color: var(--color-7);
  &.message-from {
    color: var(--color-2);
  }
}

.message-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 1rem;
  color: var(--color-1);
}

.message-footer {
  margin-top: 1rem;
  font-size: 12px;
  color: var(--color-7);
  border-top: 1px solid var(--color-12);
  padding-top: 0.5rem;
}

.message-separator {
  border-top: 1px solid var(--color-12);
  margin: 3rem 0;
}
